.flexslider.small .flexslider:hover .flex-next:hover, .flexslider.small .flexslider:hover .flex-prev:hover {
background-color:#9D3BC6;
}
.flexslider.small .flex-next:hover, .flexslider.small .flex-prev:hover {
background-color:#9D3BC6;
}
.flexslider.small .flex-direction-nav a:hover i{color:#fff;}