.slide-text-2 {
width: 34%;
}
.slide-text-2 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 20%;
left: 120%;
filter: alpha(opacity = 0);
opacity: 0;
}
.animate-in .slide-text-2 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 20%;
left: 60%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out .slide-text-2 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 20%;
left: 120%;
filter: alpha(opacity = 0);
opacity: 0;
}
#slide2 .slideImg0 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: -100%;
left: 10%;
filter: alpha(opacity = 0);
opacity: 0;
}
.animate-in#slide2 .slideImg0 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 0%;
left: 10%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide2 .slideImg0 {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 200%;
left: 10%;
filter: alpha(opacity = 0);
opacity: 0;
}
#slide2 .slideImg1 {
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-ms-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: -100%;
left: 34%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-in#slide2 .slideImg1 {
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-ms-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 28%;
left: 34%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide2 .slideImg1 {
-webkit-transition-duration: 0.9s;
-moz-transition-duration: 0.9s;
-ms-transition-duration: 0.9s;
-o-transition-duration: 0.9s;
transition-duration: 0.9s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 200%;
left: 34%;
filter: alpha(opacity = 0);
opacity: 0;
}
